:root {
  --main-text-color: color: #212121;
  --primery-text-color: #757575;
  --additional-text-color: #FFFFFF;
  --brand-color: #2196F3;
  --brand-color-studio: #000000;
  --brand-color-footer: #FFFFFF;
  --main-background-color: #FFFFFF;
  --footer-background-color: #2F303A;
}

/*flex featurs*/
/*for positionasing*/
/*sizes of viewports*/
.visaully-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px 0px;
  padding: 0px 0px;
}

ul,
ol {
  margin: 0px 0px;
  padding: 0px 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

a,
.body-nomaker-ul ul {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 480px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.secondary-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .secondary-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color-footer);
}

.logo__brandColor {
  color: var(--brand-color);
}

.logo__studioHeader {
  color: var(--brand-color-studio);
}

.logo-studio-footer {
  color: var(--brand-color-footer);
}

.logo-header {
  display: block;
  padding: 24px 0px 25px 0px;
}
@media screen and (min-width: 1200px) {
  .logo-header {
    margin-right: 93px;
  }
}

.logo--footer {
  margin-bottom: 20px;
}

.btnModalClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btnModalClose:hover .closeSvg,
.btnModalClose:focus .closeSvg {
  fill: var(--brand-color);
  cursor: pointer;
}

.closeSvg {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnModalClose--mobile {
  position: absolute;
  top: 21px;
  right: 21px;
  border: none;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

.navigationList {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .navigationList {
    margin-right: 318px;
  }
}

.navigationList__item:not(:last-child) {
  margin-right: 50px;
}

.navigationList__link {
  display: inline-block;
  padding-top: 32px;
  padding-left: 0px;
  padding-bottom: 32px;
  padding-left: 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigationList__link:hover, .navigationList__link:focus {
  color: var(--brand-color);
}

.navigationList__link--current {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--brand-color);
}

.navigationList__link--current::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}

.contactsList {
  display: none;
}
@media screen and (min-width: 768px) {
  .contactsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contactsList {
    flex-direction: row;
    padding: 30px 0px 30px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .contactsList__item {
    margin-bottom: 10px;
  }
}
.contactsList__item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  .contactsList__item {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .contactsList__item:last-child {
    margin-right: 0px;
  }
}

.contactsList__link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contactsList__link:hover, .contactsList__link:focus {
  color: var(--brand-color);
}
.contactsList__link:hover .contactsList__svg, .contactsList__link:focus .contactsList__svg {
  fill: var(--brand-color);
}

.contactsList__svg {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  fill: var(--primery-text-color);
}

.submitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .submitForm {
    flex-direction: row;
  }
}

.submitForm__label {
  display: block;
  width: 480px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .submitForm__label {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .submitForm__label {
    width: 358px;
  }
}

.submitForm__input {
  display: block;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  padding-left: 15px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .submitForm__input {
    margin-bottom: 0px;
    margin-right: 12px;
  }
}
.submitForm__input:focus {
  outline: transparent;
  border-color: var(--brand-color);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: var(--brand-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit:hover, .submit:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.submit__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--additional-text-color);
}

.submit__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--additional-text-color);
}

.filterList {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filterList__item {
  margin-right: 8px;
}
.filterList__item:last-child {
  margin-right: 8px;
}
.filterList__item:hover, .filterList__item:focus {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filterList__item:hover .contactsList__svg, .filterList__item:hover .contactsList__svg, .filterList__item:focus .contactsList__svg, .filterList__item:focus .contactsList__svg {
  fill: var(--brand-color);
}

.filterList__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--main-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filterList__button:hover, .filterList__button:focus {
  cursor: pointer;
  background-color: var(--brand-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menuSmartphone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menuSmartphone {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menuSmartphone {
    display: none;
  }
}

.headerContainer__menuSmartphone--marginY {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.menuSmartphone__svg {
  fill: #212121;
  width: 40px;
  height: 40px;
}

.socialList {
  display: flex;
  justify-content: space-between;
}

.socialList__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialList__item:not(:last-child) {
  margin-right: 10px;
}

.socialList__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialList__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialList__link:hover .socialList__svg,
.socialList__link:focus .socialList__svg {
  fill: var(--additional-text-color);
}

.socialList__link:hover,
.socialList__link:focus {
  background-color: var(--brand-color);
  outline: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalOrder {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  max-width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .modalOrder {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modalOrder {
    width: 528px;
    height: 581px;
  }
}

.modalOrder__Header {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.17;
}

.dataForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dataForm__area {
  width: 100%;
  text-align: start;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  line-height: 1.17;
  color: var(--primery-text-color);
}

.dataForm__item-wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.dataForm__item {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dataForm__item:focus,
.dataForm__comments:focus {
  border: 1px solid var(--brand-color);
  outline: transparent;
}

.dataForm__item:focus + .dataForm__svg {
  fill: var(--brand-color);
}

.dataForm__svg {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--brand-color-studio);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dataForm__comments {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .dataForm__comments {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .dataForm__comments {
    width: 448px;
  }
}

.checkbox {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.checkbox__wrapper {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  color: var(--primery-text-color);
}
@media screen and (min-width: 1200px) {
  .checkbox__wrapper {
    font-size: 14px;
    color: var(--primery-text-color);
  }
}

.checkbox__agreement {
  margin-bottom: 30px;
  appearance: none;
}

.checkbox__svg {
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__agreement:checked + .checkbox__svg {
  background-color: var(--brand-color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__link {
  display: inline-block;
  background-color: #ffffff;
  border: none;
  color: var(--brand-color);
  text-decoration: underline;
}

.sendForm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  color: var(--additional-text-color);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sendForm:hover, .sendForm:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.menuContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 2;
  transform: translateX(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menuContainer {
    display: none;
  }
}

.menuContainer.is-open {
  transform: translateX(0);
}

.navListMobile {
  flex-direction: column;
  align-items: flex-start;
}

.navListMobile--margin {
  margin-bottom: 302px;
}

.navListMobile__link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navListMobile__link:hover, .navListMobile__link:focus {
  color: var(--brand-color);
}

.contactsListMobile {
  display: flex;
  flex-direction: column;
}

.contactsListMobile--margin {
  margin-bottom: 64px;
}

.contactsListMobile__link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
}

.contactsListMobile__link--tel {
  font-style: normal;
  text-decoration: none;
  font-size: 34px;
  color: var(--brand-color);
}

.contactsListMobile__link--mail {
  font-size: 24px;
  color: var(--primery-text-color);
}

.socialListMobile {
  display: flex;
}

.socialListMobile__item {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  padding-left: 10px;
  padding-right: 10px;
  border-top: 0px solid rgba(33, 33, 33, 0.2);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  border-bottom: 0px solid rgba(33, 33, 33, 0.2);
  border-left: 0px solid rgba(33, 33, 33, 0.2);
}

.header {
  border-bottom: solid 1px #ececec;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/office480@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/office480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/office768@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/office768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/office1200@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/office1200@2x.jpg);
  }
}

.hero__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--additional-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.advantagesList {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 30px;
  width: 480px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .advantagesList {
    width: 780px;
  }
}
@media screen and (min-width: 1200px) {
  .advantagesList {
    width: 1200px;
  }
}

.advantagesList__item {
  width: 450px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .advantagesList__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantagesList__item {
    width: 270px;
  }
}

.advantagesList__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .advantagesList__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantagesList__icon {
    width: 270px;
  }
}

.advantagesList__svg {
  width: 70px;
  height: 70px;
}

.advantagesList__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
}
@media screen and (min-width: 1200px) {
  .advantagesList__title {
    text-align: left;
  }
}

.advantagesList__description {
  line-height: 1.71;
  color: var(--primery-text-color);
}

.section.development {
  padding-top: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section.development {
    display: block;
  }
}

.developmentsList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.developmentsList__item {
  position: relative;
  width: 370px;
}

.developmentsList__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.developmentsList__info {
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
}

.container--team {
  background-color: #f5f4fa;
}

.teamList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 480px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .teamList {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .teamList {
    width: 1200px;
  }
}

.teamList__item {
  width: 450px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .teamList__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .teamList__item {
    width: 270px;
  }
}

.teamList__img {
  display: block;
}

.teamList__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 30px 10px;
}

.teamList__name {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.teamList__info {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primery-text-color);
  margin-bottom: 15px;
}

.clientsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 480px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .clientsList {
    width: 768px;
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clientsList {
    width: 1200px;
  }
}

.clientsList__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientsList__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  max-width: 100%;
  height: 92px;
  padding: 16px 52px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clientsList__link:hover, .clientsList__link:focus {
  border: 1px solid var(--brand-color);
  outline: transparent;
}
.clientsList__link:hover .clientsList__svg, .clientsList__link:hover .clientsList__svg, .clientsList__link:focus .clientsList__svg, .clientsList__link:focus .clientsList__svg {
  fill: var(--brand-color);
}
@media screen and (min-width: 768px) {
  .clientsList__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clientsList__link {
    width: 170px;
    padding: 16px 32px;
  }
}

.clientsList__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientsList__svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: var(--footer-background-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 60px 15px;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
  }
}

.footerContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footerContacts {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footerContacts {
    align-items: flex-start;
    margin-right: 93px;
    padding-bottom: 0px;
  }
}

.adressList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .adressList {
    align-items: baseline;
  }
}

.adressList__linkAdress {
  color: var(--additional-text-color);
}

.adress {
  line-height: 1.71;
  font-style: normal;
}

.adressList__linkContacts {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adressList__linkContacts:hover, .adressList__linkContacts:focus {
  color: var(--brand-color);
}

.navigationList {
  display: flex;
  align-items: center;
}

.adressList__item:not(:last-child) {
  margin-bottom: 9px;
}

.footerSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footerSocial {
    align-items: flex-start;
    padding-bottom: 0px;
    margin-right: auto;
  }
}

.footerSocial__invitation {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footerSocial__invitation {
    text-align: start;
  }
}

.socialList__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.socialList__link--footer:focus {
  outline: transparent;
}

.socialList__svg--footer {
  fill: var(--brand-color-footer);
}

.footerSubmit {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footerSubmit {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footerSubmit {
    width: 570px;
  }
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.projectList__item {
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .projectList__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projectList__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.projectList__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}
.projectList__link:hover, .projectList__link:focus {
  outline: transparent;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projectList__link:hover .projectList__discription, .projectList__link:hover .projectList__discription, .projectList__link:focus .projectList__discription, .projectList__link:focus .projectList__discription {
  transform: translateY(0px);
}

.projectList__thumb {
  position: relative;
  overflow: hidden;
}

.projectList__discription {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 64px 32px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.projectList__info {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.projectList__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projectList__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primery-text-color);
}/*# sourceMappingURL=main.css.map */