/*flex featurs*/

@mixin flexRowC {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

/*for positionasing*/

@mixin autoMarginX {
  margin-left: auto;
  margin-right: auto;
}

/*sizes of viewports*/

@mixin mobile {
  @media screen and(min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and(min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and(min-width: 1200px) {
    @content;
  }
}

// general settings for img

@mixin propertiesImg {
  display: block;
}
