:root {
    --main-text-color: color: #212121;
    --primery-text-color: #757575;
    --additional-text-color: #FFFFFF;
    --brand-color: #2196F3;
    --brand-color-studio: #000000;
    --brand-color-footer: #FFFFFF;
    --main-background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    }