.clientsList {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;

  flex-basis: calc((100% - 5 * 30px) / 6);
}

.clientsList__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientsList__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  padding: 16px 32px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clientsList__svg {
  width: 106px;
  height: 60px;

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clientsList__link:hover .clientsList__svg,
.clientsList__link:focus .clientsList__svg {
  fill: var(--brand-color);
}

.clientsList__link:hover,
.clientsList__link:focus {
  border: 1px solid var(--brand-color);
  outline: transparent;
}
