.section.development {
  padding-top: 0px;
  display: none;

  @include desktop {
    display: block;
  }
}

.developmentsList {
  @include flexWrap;
  gap: 30px;
}

.developmentsList__item {
  position: relative;
  width: 370px;
}

.developmentsList__box {
  @include flexRowC;
  position: absolute;
  bottom: 0px;

  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.developmentsList__info {
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: 14px;
  font-weight: bold;
  line-height: 1.17;

  color: #ffffff;
  text-transform: uppercase;
}
