footer {
  background-color: var(--footer-background-color);
}

.footer {
  display: flex;
  align-items: baseline;

  padding: 60px 0px;
}

.footerContacts {
  display: flex;
  flex-direction: column;

  margin-right: 93px;
}

.adressList__linkAdress {
  color: var(--additional-text-color);
}

.adress {
  line-height: 1.71;
  font-style: normal;
}

.adressList__linkContacts {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.navigationList {
  display: flex;
  align-items: center;
}

.adressList__item:not(:last-child) {
  margin-bottom: 9px;
}

.footerSocial {
  margin-right: auto;
}

.footerSocial__invitation {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.socialList__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  &:focus {
    outline: transparent;
  }
}

.socialList__svg--footer {
  fill: var(--brand-color-footer);
}
