.header {
  border-bottom: solid 1px #ececec;
}

.header-container {
  display: flex;
}

.logo-header {
  padding: 24px 0px 25px 0px;
  margin-right: 93px;
}

.navigation {
  display: flex;
  margin-right: 318px;
}
