.header {
  border-bottom: solid 1px #ececec;
}

.headerContainer {
  display: flex;
  justify-content: space-between;

  min-height: 80px;
  padding-right: 15px;
  padding-left: 15px;

  @include desktop {
    padding-right: 0px;
    padding-left: 0px;
  }
}
