.hero {
  max-width: 1600px;
  @include autoMarginX;
  padding: 200px 0px;

  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 40%), rgba(47, 48, 58, 40%)),
    url(../images/office.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
}

.hero__title {
  @include autoMarginX;
  max-width: 696px;
  margin-bottom: 30px;

  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--additional-text-color);
}

.hero__button {
  padding: 10px 32px;

  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #188ce8;
  }
}
