.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.projectList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.projectList__link:hover,
.projectList__link:focus {
  outline: transparent;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projectList__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.projectList__link {
  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.projectList__thumb {
  position: relative;

  overflow: hidden;
}

.projectList__discription {
  position: absolute;

  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 64px 32px;

  transform: translateY(101%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.projectList__link:hover .projectList__discription,
.projectList__link:focus .projectList__discription {
  transform: translateY(0px);
}

.projectList__info {
  padding: 20px 24px;

  border: 1px solid#EEEEEE;
  border-top: none;
}

.projectList__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projectList__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primery-text-color);
}
