// button close

.btnModalClose {
  @include flexRowC;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btnModalClose:hover .closeSvg,
.btnModalClose:focus .closeSvg {
  fill: var(--brand-color);
  cursor: pointer;
}

.closeSvg {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnModalClose--mobile {
  position: absolute;
  top: 21px;
  right: 21px;
  border: none;
}

// site-navigation
.navigation {
  display: none;

  @include tablet {
    display: block;
  }
}
.navigationList {
  display: flex;
  align-items: center;

  @include desktop {
    margin-right: 318px;
  }
}

.navigationList__item:not(:last-child) {
  margin-right: 50px;
}

.navigationList__link {
  display: inline-block;

  padding-top: 32px;
  padding-left: 0px;
  padding-bottom: 32px;
  padding-left: 0px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.navigationList__link--current {
  @include flexColumn;
  position: relative;

  color: var(--brand-color);
}

.navigationList__link--current::after {
  content: '';
  position: absolute;

  left: 0px;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--brand-color);
}

// company's contacts
.contactsList {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  @include desktop {
    flex-direction: row;
    padding: 30px 0px 30px 0px;
    @include autoMarginX;
  }
}

.contactsList__item {
  @include tablet {
    margin-bottom: 10px;
  }
  &:last-child {
    margin-bottom: 0px;
  }
  @include desktop {
    margin-right: 30px;
    margin-bottom: 0px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.contactsList__link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--brand-color);
  }

  &:hover .contactsList__svg,
  &:focus .contactsList__svg {
    fill: var(--brand-color);
  }
}

.contactsList__svg {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;

  fill: var(--primery-text-color);
}

// submit form

.submitForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 480px;
  width: 100%;

  @include tablet {
    // width: 768px;
  }

  @include desktop {
    flex-direction: row;
  }
}

.submitForm__label {
  display: block;
  width: 480px;
  width: 100%;

  @include tablet {
    width: 450px;
  }

  @include desktop {
    width: 358px;
  }
}
.submitForm__input {
  display: block;
  width: 100%;

  min-height: 50px;
  margin-bottom: 20px;
  padding-left: 15px;

  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    max-width: 450px;
  }

  @include desktop {
    // width: 358px;
    margin-bottom: 0px;
    margin-right: 12px;
  }

  &:focus {
    outline: transparent;
    border-color: var(--brand-color);
  }
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;

  background-color: var(--brand-color);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #188ce8;
  }
}

.submit--form {
  padding-left: 28px;
  padding-right: 28px;
}

.submit__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--additional-text-color);
}

.submit__svg {
  width: 24px;
  height: 24px;

  margin-left: 10px;
  fill: var(--additional-text-color);
}

// projects filter

.filterList {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filterList__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 8px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    & .contactsList__svg,
    & .contactsList__svg {
      fill: var(--brand-color);
    }
  }
}

.filterList__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--main-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--brand-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// button for smartphone menu
.menuSmartphone {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: none;
  background-color: transparent;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.headerContainer__menuSmartphone--marginY {
  margin-top: auto;
  margin-bottom: auto;

  margin-left: auto;
}

.menuSmartphone__svg {
  fill: #212121;
  width: 40px;
  height: 40px;
}
