.container {
  width: 480px;
  @include autoMarginX;
  padding-right: 0px;
  padding-left: 0px;

  @include tablet {
    min-width: 768px;
    padding-right: 0px;
    padding-left: 0px;
  }

  @include desktop {
    padding-right: 15px;
    padding-left: 15px;
    min-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
