.container {
  width: 480px;
  max-width: 100%;
  @include autoMarginX;

  padding-right: 0px;
  padding-left: 0px;
  padding-right: 15px;
  padding-left: 15px;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
